$base-color1: #0A0908;
$base-color2: #22333B;
$base-color3: #EAE0D5;
$base-color4: #C6AC8F;
$base-color5: #5E503F;
$white: #FFFFFF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $base-color1;
    font-family: 'Roboto', sans-serif;
    color: $base-color3;
}

input{
    background-color: $base-color2;
    color: $base-color3;
    border: none;
    border-radius: 1vh;
    padding: 5px;
    box-shadow: $white 0px 0px 10px;
}

#cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    #MOTD{
        margin-top: 3vh;
        h1{
            font-size: 6vh;
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 3vh;
            margin-top: 2vh;
            margin-bottom: 4vh;
        }

    }

    #reg-cont{
        font-size: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form{
            width: 30vw;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $base-color5;
            border-radius: 5px;
            box-shadow: $white 0px 0px 10px;

            input{
                height: 6vh;
                width: 80%;
                font-size: 5vh;
                margin-bottom: 2vh;
            }

            input[type="submit"]{
                margin-top: 7vh;
                font-size: 4vh;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    #login-cont{
        font-size: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form{
            width: 30vw;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $base-color5;
            border-radius: 5px;
            box-shadow: $white 0px 0px 10px;

            input{
                height: 6vh;
                width: 80%;
                font-size: 5vh;
                margin-bottom: 2vh;
            }

            input[type="submit"]{
                margin-top: 30vh;
                font-size: 4vh;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        
    }
}

.ch{
    margin-top: 2vh;
    cursor: pointer;
    color: $base-color2;
    padding: 1vh;
}
